{{extend 'layout.html'}}
<style type="text/css">
    .searchBarRow{
        background-image:URL(../static/images/signedBackground.jpg);
        background-position: center;
         background-repeat: no-repeat;
        height: 400px;
    }
</style>
<body >
<div class="searchBarRow">
    
<div style="margin-top:1%;" >
<div class="row ">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        {{=form}}
    </div>
    <div class="col-md-4">
    </div>
</div>
</div>
</div>

</body>
